<footer class="bg-secondary text-center text-light">
    <div class="container p-4">
      <section class="mb-4">
        <p class="text-center">
          HashKart is committed to providing you with the best shopping experience, top-notch deals, and comprehensive customer support. Contact us at support@hashkart.com or call us at (123) 456-7890.
        </p>
      </section>
      <section class="">
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase " ><a href="./"  class="link-danger text-white text-decoration-none">Home</a></h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white text-decoration-none">Electronics</a>
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none">Clothing</a>
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none">Accessories</a>
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none">Home Appliances</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase" ><a href="./cart" class="link-danger text-white text-decoration-none">Cart</a></h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white text-decoration-none">Your Account</a>
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none">Become an Affiliate</a>
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none">Shipping Rates</a>
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none">Help</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase"><a href="./login" class="link-danger text-white text-decoration-none">Login</a></h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white text-decoration-none">About Us</a>
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none">Privacy Policies</a>
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none">Terms of Service</a>
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none">Careers</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase" ><a href="./register" class="text-white text-decoration-none link-danger">Signup</a></h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white text-decoration-none">Contact Us</a>
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none">Support Center</a>
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none">Feedback</a>
              </li>
              <li>
                <a href="#!" class="text-white text-decoration-none">FAQs</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 HashKart: All rights reserved.
    </div>
  </footer>